<div class="container" ng-controller="CheckoutCtrl">
<div class="wrap cf">
  <h1 class="projTitle">Responsive Table<span>-Less</span> Shopping Cart</h1>
  <div class="heading cf">
    <h1>My Cart</h1>
    <a href="index.html" class="continue">Continue Shopping</a>
  </div>
  <div class="cart">
<!--    <ul class="tableHead">
      <li class="prodHeader">Product</li>
      <li>Quantity</li>
      <li>Total</li>
       <li>Remove</li>
    </ul>-->
    <ul class="cartWrap" ng-init="totalCartAmount()">
     
      <li class="items even" ng-repeat="item in selectedItems">
       <div class="infoWrap"> 
	        <div class="cartSection info">             
	          <img src={{item.img}} alt="" class="itemImg" />
	          <p class="itemNumber">Product Id : {{item.id}}</p>
	          <h3>{{item.name}}</h3>        
	          <p> <input type="number" ng-change="increamntQty(item.id, abc )" ng-model="abc" class="qty"  value={{item.count}} />{{item.price}}</p> 
	        </div> 
	        <div class="prodTotal cartSection">
	          <p>{{item.count * item.price}}</p>
	        </div>    
	        <div class="cartSection removeWrap">
	       		<a ng-click="deleteCartItem(cartitem.id)" class="remove">x</a>
	    	</div>
         </div>         
      </li>
      
      
      <!--<li class="items even">Item 2</li>-->
 
    </ul>
  </div>
  
  
  <div class="subtotal cf">
    <ul>
      <li class="totalRow"><span class="label">Subtotal</span><span class="value">{{totalAmount | currency:'&#8377;'}}</span></li>
      
          <li class="totalRow"><span class="label">Shipping</span><span class="value">{{shippingCharge  | currency:'&#8377;'}}</span></li>
       
            <li class="totalRow final"><span class="label">Total</span><span class="value">{{ totalAmount + shippingCharge  | currency:'&#8377;'}}</span></li>
      <li class="totalRow"><a href="#" class="btn continue">Checkout</a></li>
    </ul>
  </div>
</div>
</div>