<div class="container" ng-controller="CheckoutCtrl">
	<div class="page-header">
		<h3>Checkout Page</h3>
	</div>

	<div class="well">
		<table class="table table-stripped">
			<thead>
				<tr>
					<th>Item</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
			<!--We will used ngIf to display those items that have been selected-->
				<tr ng-repeat="i in selectedItems" ng-if="i.selected != 0">
					<td>{{i.item}}</td>
					<td>{{i.selected}}</td>
				</tr>
				<tr>
					<td>Total: </td>
					<td>{{checkoutTotal}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-left">
		<a href="#!/cart" class="btn btn-danger">Customize</a>
	</div>
	
</div>